!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title NavBar
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", :integrity => "sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", :rel => "stylesheet"}/
  %body
    %p
      /
      :css
        body{
          // background:#FAEBD7;
        }
        #wcText{
          text-align: center;
          // left:30px;
    
        }
        #addProperty{
          
        }
        
        .card{
        float: left;
        height: 200px;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 2%;
        }
        .card-img-top{
        height: 200px;
        }
        #im{
          
          margin-left:10%;
          
          border-radius: 10px;
        }
        .ml-auto .dropdown-menu {
         left: auto !important;
         right: 0px;
         }
        
        .btn-info{

        align-content: right;
        margin-left: 90%;
        margin-top: 0px;
        float:left;}
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      %a.navbar-brand{:href => "#"} BU Realtor
      %button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarNavDropdown.collapse.navbar-collapse
        %ul.navbar-nav.nav.ml-auto
          %li.nav-item.dropdown
            %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#"}
              #{@current_user.name}
            .dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
              // %a.dropdown-item= link_to "Account settings", logout_path, style: 'color: black' 
              %a.dropdown-item= link_to "Log Out", logout_path, style: 'color: black'
              
          
              /
                \/register or sign in with github
        /
          \/.navbar-collapse
      /
        \/.container-fluid
   
    // %img{:height => "300", :src => "/pexels-photo-186077.jpeg", :width => "600"}/
    
    // %h2#wcText Let's make moves!
    %body
    %div
    %h2#wcText List of properties
    %div
    // %a.btn.btn-primary.btn-lg.active.float-right= link_to "Add Property", createProperty_path
    #addBtn
    %a= link_to "Add Property", createProperty_path
    / / %a.btn.btn-primary.btn-lg.active.float-right= link_to "Add Property", createProperty_path
    // %a#addPr{:href => "/property/new"} Add Property
    // #addBtn
    // %a.btn.btn-info{:href => "/property/new",  :name => "addBn",  :role => "button"} Add

  

    .container
    .row

    %div.container
    %div.row
    // %h2#wcText List of properties
  - @properties.each do |property|
    .card{:style => "width: 18rem;"}
      // %img.card-img-top{:alt => "...", :src => "https://www.google.com/url?sa=i&url=https%3A%2F%2Fmaterial.io%2Fdesign%2Ficonography%2Fsystem-icons.html&psig=AOvVaw0Vwetn3j_pk3NBSK4b3kME&ust=1590044853692000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNDUpOjwwekCFQAAAAAdAAAAABAI"}/
      .card-body
        %h5.card-title= property.name
        %p.card-text= property.apttype
        %a= link_to "More about", propertyDetail_path(property) 
        %br 

%script{:crossorigin => "anonymous", :integrity => "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", :src => "https://code.jquery.com/jquery-3.2.1.slim.min.js"}
%script{:crossorigin => "anonymous", :integrity => "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"}
%script{:crossorigin => "anonymous", :integrity => "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"}
  
  
    
    
  

    