!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title NavBar
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", :integrity => "sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", :rel => "stylesheet"}/
  %body
    %p
      /
      :css
        body{
          // background:#FAEBD7;
        }
        #wcText{
          text-align: center;
          // left:30px;
    
        }
        #addProperty{
          
        }
        
        .card{
        float: left;
        height: 200px;
        margin-left: 6%;
       
        }
        .card-img-top{
        height: 200px;
        }
        #im{
          
          margin-left:10%;
          
          border-radius: 10px;
        }
        #addPr{
        align-content: right;
        margin-left: 90%;
        float:left;}
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      %a.navbar-brand{:href => "#"} BU Realtor
      %button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarNavDropdown.collapse.navbar-collapse
        %ul.navbar-nav.nav
          %li.nav-item.dropdown
            %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#"}
              user.name
            .dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
              %a.dropdown-item= link_to "Account settings", logout_path
              %a.dropdown-item= link_to "Log Out", logout_path
              
          
              /
                \/register or sign in with github
        /
          \/.navbar-collapse
      /
        \/.container-fluid

= link_to '<Go to Dashboard', dashboard_index_path

%h2 Edit Existing Property

= form_tag updateProperty_path(@property.id), :method => :put do

  = label :property, :name, 'Name'
  = text_field :property, 'name'
  
  = label :property, :apttype, 'Type'
  = text_field :property, 'apttype'
  
  = label :property, :price, 'Price'
  = text_field :property, 'price'

  = label :property, :address, 'Address'
  = text_field :property, 'address'
  
  = label :property, :description, 'Description'
  = text_field :property, 'description'

  = submit_tag 'Update Property Details', :class => 'btn btn-primary'
  
%script{:crossorigin => "anonymous", :integrity => "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", :src => "https://code.jquery.com/jquery-3.2.1.slim.min.js"}
%script{:crossorigin => "anonymous", :integrity => "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"}
%script{:crossorigin => "anonymous", :integrity => "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"}
  
  
    
      
