%table#properties.table.table-striped.col-md-12
  %thead
    %tr
      %th Name -
      %th Type
      %th Price
      %th Address
      %th Description
  %tbody
    - @properties.each do |property|
      %tr
        %td= property.name
        %td= property.apttype
        %td= property.price
        %td= property.address
        %td= property.description
