/%h1 Property#new
/%p Find me in app/views/property/new.html.haml

= form_tag property_create_path	 do
  = label :property, :name, 'Name'
  = text_field :property, 'name'
  
  = label :property, :apttype, 'Type'
  = text_field :property, 'apttype'
  
  = label :property, :price, 'Price'
  = text_field :property, 'price'

  = label :property, :address, 'Address'
  = text_field :property, 'address'
  
  = label :property, :description, 'Description'
  = text_field :property, 'description'

  = submit_tag 'Save Property'